<div class="col-xs-offset-4 col-xs-4">
  <h1>Stupid answer</h1>

  <p>Student asked: <%= @question %></p>
  <p>Coach answer: <%=  @answer  %></p>

  <form action="/answer" class="form-group" method="post">
    <label for="question">Answer to student</label>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <input type="text" id="question" name="answer" placeholder="Answer kindly to the student" class="form-control">
    <input type="submit" value="Answer" class="btn btn-primary">
  </form>
    <%=link_to "Ask a new question", ask_path %>
</div>




