
<div class="col-xs-offset-4 col-xs-4">
<h1>Stupid coaching</h1>
  <form action="/answer" class="form-group" method="post">
    <label for="question">Speak to your coach</label>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <input type="text" id="question" name="question" placeholder="what time is it?" class="form-control">
    <input type="submit" value="Go on!" class="btn btn-primary">
  </form>
</div>

<%= @question  %>
